    /* * font-family: 'Playfair Display',
serif;

*f  */
    
     :root {
        --main-font: 'Roboto';
        --main-color: rgb(70, 78, 66);
        --secondary-color: rgb(243, 255, 239);
    }
    
    .content {
        margin: auto;
        background-color: var(--secondary-color);
        color: var(--main-color);
    }
    
    .hero {
        text-align: center;
        font-weight: bold;
        padding: 160px 25px;
        text-shadow: 2px 2px 2px var(--secondary-color);
    }
    /* .heroimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    } */
    
    h1 {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 0.1em;
    }
    
    p {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
    
    h4 {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
    }
    
    .text {
        margin: auto;
        max-width: 600px;
        font-family: 'Poppins', ns-serif;
        text-shadow: 1px 1px 1px rgb(80, 80, 80);
        letter-spacing: 0.3em;
    }
    
    .btn-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 30px;
        border-radius: 50px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: var(--main-color);
        color: #f4f6c7;
        position: relative;
        width: 200px;
        height: 53px;
        left: 38%;
        top: 40px;
    }
    
    img {
        max-width: 320px;
    }
    
    .row {
        justify-content: center;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 0px 40px;
    }
    /* .container {} */
    
    @media (max-width: 960px) {
        .hero {
            padding: 0;
            margin: 0 auto;
        }
    }
    
    .footer {
        text-align: right;
        font-size: small;
        padding-right: 2%;
        font-family: var(--main-font);
    }