    /* * font-family: 'Playfair Display',
serif;

*f  */
    
     :root {
        --main-font: 'Roboto';
        --main-color: aliceblue;
    }
    
    .content {
        margin: auto;
        background-color: rgb(0, 0, 0);
        color: var(--main-color);
    }
    
    .hero {
        text-align: center;
        font-weight: bold;
        padding: 160px 25px;
    }
    
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 0.1em;
    }
    
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
    
    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .text {
        margin: auto;
        max-width: 600px;
        font-family: 'Poppins', ns-serif;
    }
    
    .btn-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 30px;
        border-radius: 50px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: var(--main-color);
        color: #000000;
        position: relative;
        width: 200px;
        height: 53px;
        left: 43%;
        top: 40px;
    }